<table class="attr">
 
  <tr>
    <th>氏名</th>
    <td><%= @user.name %></td>
  </tr>

   <tr>
    <th>住所</th>
    <td><%= @user.adress %></td>
  </tr>
   <tr>
    <th>電話番号</th>
    <td><%= @user.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.mail %></td>
  </tr>
   <tr>
    <th>秘密の質問</th>

     <% if @user.secretques == 1 then %>
        <td><%= "好きな食べ物" %></td>
     <% elsif @user.secretques == 2 then %>
        <td><%= "好きな場所" %></td>
     <% elsif @user.secretques == 3 then %>
        <td><%= "好きな映画" %></td>
     <% elsif @user.secretques == 4 then %>
        <td><%= "ペットの名前" %></td>
     <% elsif @user.secretques == 5 then  %>
        <td><%= "好きな本" %></td>
     <% else %>
        <td><%= @user.secretques %></td>
     <% end %>
   
    
  </tr>
  <tr>
    <th>秘密の答え</th>
    <td><%= @user.secretans %></td>
  </tr>
 
 
</table>

<table>
  <thead>予約情報</thead>
  <% @rsv.each do |r| %>
  <tr>
    <th>商品番号</th>
    <td> <%= r.clothesId %></td>
  </tr>
  <tr>
    <th>発送予定日</th>
    <td> <%= r.sendDay %></td>
  </tr>
  <tr>
    <th>返却予定日</th>
    <td> <%= r.returnDay %></td>
  </tr>
    <% if r.sendDay < Time.now %>
      <tr><td><%= link_to "キャンセル", cansel_reservation_path(r.id), method: :delete %></td></tr>
    <% elsif r.isSend %>
      <tr><td><p>発送済み</p></td></tr>
    <% end %>
  <% end %>
</table>
