<table class="attr">
 
  <tr>
    <th>氏名</th>
    <td><%= @user.name %></td>
  </tr>

   <tr>
    <th>住所</th>
    <td><%= @user.adress %></td>
  </tr>
   <tr>
    <th>電話番号</th>
    <td><%= @user.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.mail %></td>
  </tr>
   <tr>
    <th>秘密の質問</th>

     <% case @user.secretques %>
      <% when "1" %>
        <td><%= "好きな食べ物" %></td>
      <% when "2" %>
        <td><%= "好きな場所" %></td>
      <% when "3" %>
        <td><%= "好きな映画" %></td>
      <% when "4" %>
        <td><%= "ペットの名前" %></td>
      <% when "5" %>
        <td><%= "好きな本" %></td>
      <% else %>
        <td><%= @user.secretques %></td>
     <% end %>
    
  </tr>
  <tr>
    <th>秘密の答え</th>
    <td><%= @user.secretans %></td>
  </tr>
 
 
</table>
<strong>予約情報</strong>
<table>
  <thead>
    <th>商品番号</th>
    <th>商品名</th>
    <th>発送予定日</th>
    <th>返却予定日</th>
  </thead>
  <% @rsv.each do |r| %>
  <tbody>
    <td> <%= r.clothesId %></td>
    <td> <%= r.clothe.name %></td>
    <td> <%= r.sendDay %></td>
    <td> <%= r.returnDay %></td>
    <% if r.isSend %>
      <td>発送済み</td>
    <% else %>
      <td><%= link_to "キャンセル", cansel_reservation_path(r.id), method: :delete %></td>
    <% end %>
  </tbody>
  <% end %>
</table>
