<% @page_title = "秘密の質問です" %>
<% if User.find_by(secretans: params[:anser]).present? then %>
  <% @user = User.find_by(secretans: params[:anser]) %>
    <table class="attr">
      <%= form_for @user do |form| %>
        <tr>
          <th>パスワードを再発行します</th>
        </tr>
        <tr>
          <th><%= form.label :password ,"パスワード"%></th>
          <td><%= form.password_field :password %></td>
        </tr>
        <tr>
          <th><%= form.label :password_confirmation ,"パスワードの確認" %></th>
          <td><%= form.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <td><%= form.hidden_field :id , :value => @user.id%></td>
          <!-- <td><%= form.hidden_field :id2 , :value => @user_id%></td>-->
        </tr>
        <td><%= form.submit "登録する" %></td>
      <% end %>
    </table>
<% else %>
  <p><%= "秘密の質問の答えが違います" %></p>
<% end %>