<% @page_title = "秘密の質問です" %>
<% if User.find_by(email: params[:secret_mail]).present? then %>
<tr>
    <%= @user.name + "さん" %> <br>
    <th>秘密の質問</th>

     <% if @user.secret_question == 1 then %>
       <td><%= "好きな食べ物" %></td>
     <% elsif @user.secret_question == 2 then %>
    
        <td><%= "好きな場所" %></td>
     <% elsif @user.secret_question == 3 then %>
     
        <td><%= "好きな映画" %></td>
     <% elsif @user.secret_question == 4 then %>
    
        <td><%= "ペットの名前" %></td>
     <% else  %>
      <td><%= "好きな本" %></td>
       <td><%= @user.secret_question %></td>
     <% end %>


<HTML>
<HEAD><TITLE>秘密の質問を入力してください</TITLE></HEAD>
<BODY>

<!--CGI呼び出しプログラムURL-->
<FORM ACTION=anser METHOD="GET">

<!--ここからが任意の入力フォーム内容-->
秘密の答え ： <INPUT TYPE="text" NAME="anser" SIZE="25"><BR>
<input type="hidden" name="user_id" value= <%= @user.id %>>
<!--<input type="hidden" name="user_id2" value=@user_id>-->



<BR>
<!--送信ボタン-->
<INPUT TYPE="submit" VALUE="送信">

<!--リセットボタン-->
<INPUT TYPE="reset" VALUE="リセット">


</FORM>
</BODY>
</HTML>

<% else  %>
        <td><%= "そのメールアドレスは登録されておりません" %></td>

<% end %>