<%= link_to image_tag("RentalClothes.png", size: "420x130", alt: "RentalClothes"), :root %>

<% if current_user %>
<p class="user">
<%= current_user.name %>さん |
<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？" } %>
</p>
<% end %>

<div class="menubar">
<%= menu_link_to "TOP", :root %>
&nbsp;|&nbsp; <%= menu_link_to "予約", new_reservation_path %>
<% if current_user then %>
&nbsp;|&nbsp; <%= menu_link_to "マイページ", :account %>
&nbsp;|&nbsp; <%= menu_link_to "カート", carts_path %>
<% end %>
&nbsp;|&nbsp; <%= menu_link_to "管理者", :admin_login %>
&nbsp;|&nbsp; <%= menu_link_to "スタッフ", :staff_login %>
&nbsp;|&nbsp; <%= menu_link_to "問い合わせ先", "#" %>


</div>
