

<table class="attr">
 <%= form.hidden_field :userId, :value => current_user.id %>

  <!--<div class="field">
    <%= form.label :userId %><br>
    <%= form.number_field :userId %>
  </div>
  <div class="field">
    <%= form.label :clothesId %><br>
    <%= form.number_field :clothesId %>
  </div>-->
   <span style="display:none;"><%= clothe_id = "" %></span>
 <% @carts.each do |cart| %>
     
    <!--<td><%=cart.clothe_id%></td>
    <td><%=cart.user_id%></td>-->
    <%clothe = Clothe.find_by(id: cart.clothe_id)%>
     <% if cart.user_id ==  User.find_by(name: current_user.name).id %>
     <tr>
    <th>画像</th>
    <td><%= clothe_image_tag clothe, width: 96 %></td>
    </tr>

        <td><%= clothe.name %></td>
        <td><%= clothe.sex %></td>
        <td><%= clothe.size %></td>
        <td><%= clothe.color %></td>
        <td><%= clothe.category1 %></td>
        <td><%= clothe.category2 %></td>
        <td><%= clothe.state %></td>
        <td><%= clothe.value %></td>
        <td><%= clothe.note %></td>
             <% if clothe_id != "" %>
             <span style="display:none;"><%= clothe_id +=" " %></span>
             <% end %>
             <span style="display:none;"><%= clothe_id +=clothe.id.to_s %></span>
             
      <tr>
         <% end %>
        <% end %>

<%= form.hidden_field :clothesId, :value => clothe_id%>

 <div class="field">
    <%= form.label :returnDay %><br>
    <%= form.date_select :returnDay %>
  </div>
  <div class="field">
    <%= form.label :sendDay %><br>
    <%= form.date_select :sendDay %>
  </div>
  <div class="field">
    <%= form.label :sendAdress %><br>
    <%= form.text_field :sendAdress %>
  </div>

  <div class="actions">
<p><%= form.submit %></p>
</div>

  </table>

