<p id="notice"><%= notice %></p>

<h1>カートにいれた商品一覧</h1>

<table>
   <thead>
    <tr>
      <th>商品名</th>
      <th>性別</th>
      <th>サイズ</th>
      <th>カラー</th>
      <th>カテゴリ</th>
      <th>シチュエーション</th>
      <th>価格</th>
      <th>備考</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% total = 0 %>
  <% @carts.each do |cart| %>
     
    <!--<td><%=cart.clothe_id%></td>
    <td><%=cart.user_id%></td>-->
    <% clothe = Clothe.find_by(id: cart.clothe_id)%>
    <% if cart.user_id ==  User.find_by(name: current_user.name).id %>
      <td><%= clothe.name %></td>
      <% case clothe.sex %>
        <% when 0 %>
          <td>男</td>
        <% when 1 %>
          <td>女</td>
        <% when 2 %>
          <td>男児</td>
        <% when 3 %>
          <td>女児</td>
      <% end %> 
      <td><%= clothe.size %></td>
      <td><%= clothe.color %></td>
      <td><%= clothe.category1 %></td>
      <td><%= clothe.category2 %></td>
      <td><%= clothe.value %></td>
      <td><%= clothe.note %></td>
      <td><%= clothe_image_tag clothe, width: 96 %></td>            
      <% total += clothe.value %>
    <% end %>
      <td><%= link_to '削除', cart, method: :delete, data: { confirm: '本当に消しますか?' } %></td>
  <% end %>
</table>
  <h2>合計<%= total %>円/日</h2>
<%= link_to '注文処理に進む', new_reservation_path %>